@use "./mixins";
h1 {
  @include mixins.hero-font;
  margin: 30px 0 10px 0;
}

.p-container {
  margin-bottom: 60px;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

p {
  @include mixins.p-font;
  padding: 10px 30px;
  max-width: 350px;
}

.houseImg {
  width: 100vw;
  max-width: 2576px;
}

#about {
  padding-top: 60px;
}
