@use "./mixins";
@use "./variables";
.contact span {
  @include mixins.p-font;
  font-size: 0.75em;
}

.contact {
  padding: 10px 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: 2rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.contact-icon {
  font-size: 1.2em;
  color: variables.$yellow;
}
