@use './variables';
@use './mixins';
@use './base';
@use './buttons';
@use './navbar';
@use './hero';
@use './about';
@use './contact';
@use './footer';
@use './pralines';


body { 
  background-color: variables.$background-color;
  overflow-x: hidden;
}

.container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center;
}
